# Dependencies
node_modules/
.pnpm-store/

# Production Builds
dist/
build/

# Environment & Local DB
.env
.env.local
*.log

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
